/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    color: #383838;
}
.body {
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media (max-width: 978px) {
    .header {
        align-items: center;
        flex-direction: column;
        padding-top: 110px;
        padding-bottom: 110px;
    }
}
.header__logo {
    width: 105px;
    display: flex;
    flex-direction: column;
    font-family: adobe-hebrew;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 26px;
    order: 2;
}
@media (max-width: 978px) {
    .header__logo {
        order: 1;
        padding-bottom: 90px;
    }
}
.header__logo-violets {
    color: #423853;
}
.header__logo-green {
    color: #8f9f58;
}
.header__logo-store {
    margin-top: 3px;
    max-height: 32px;
    padding: 2px;
    background-color: #423853;
    color: white;
    border-radius: 8px;
    margin-left: auto;
}

.header__menu-left {
    display: flex;
    font-size: 14px;
    width: 470px;
    gap: 35px;
    height: 55px;
    border-bottom: 1px solid #c4c4c4;
    margin-right: 60px;
    order: 1;
}
@media (max-width: 978px) {
    .header__menu-left {
        border: 0;
        margin: 0;
        gap: 0;
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 30px;
    }
}
.header__menu-link a {
    color: #383838;
    font-weight: 500;
}
.header__menu-link a:hover {
    color: #b1be85;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
    text-decoration-color: #b1be85;
    transition: all .3s ease-out;
}
.header__menu-right {
    display: flex;
    font-size: 14px;
    width: 470px;
    gap: 35px;
    height: 55px;
    justify-content: flex-end;
    border-bottom: 1px solid #c4c4c4;
    margin-left: 60px;
    order: 3;
}
@media (max-width: 978px) {
    .header__menu-right {
        border: 0;
        margin: 0;
        gap: 0;
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

/* Hero */
.header__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 100%;
    height: 650px;
    background: url("/img/hero.png") rgba(0, 0, 0, 0.521);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
}
.header__hero-title {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}
.header__hero-main {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: .5px;
    line-height: 60px;
    text-align: center;
}
.header__hero-description {
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}
.header__hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: transparent;
    font-size: 70px;
    width: 70px;
    height: 70px;
    animation: move-button 1.5s linear infinite;
}
.header__hero-button:hover {
    color: gray;
    transition: all .3s ease;

}
@keyframes move-button {
    0% {
        transform: translateY(0);
	}

    20% {
        transform: translateY(2px);
    }

	50% {
        transform: translateY(10px);
	}

    20% {
        transform: translateY(8px);
    }

	100% {
        transform: translateY(0);
	}
}

/* Main */
.main {
    padding-top: 45px;
}
.violets {
    display: grid;
    justify-items: center;
}
.violets__favorites {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 40px;
    row-gap: 55px;
    padding-bottom: 85px;
}
@media (max-width: 1190px) {
    .violets__favorites {
        grid-template-columns: repeat(2, auto);
    }
}
@media (max-width: 790px) {
    .violets__favorites {
        grid-template-columns: repeat(1, auto);
    }
}
@media (max-width: 390px) {
    .violets__favorites {
        row-gap: 40px;
        padding-bottom: 70px;
    }
}
.violet-card {
    position: relative;
    display: grid;
    justify-items: center;
    gap: 25px;
}
.violet-card__label {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    font-size: 12px;
    color: white;
    background-color: #a6c66c;
    padding-left: 10px;
    padding-right: 10px;
}
.violet-card__image {
    width: 260px;
}
.violet-card__empty-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 260px;
    color: white;
}
.violet-card__empty-image span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: calc(170px / 2);
    background-color: #d7d4e7;
}
.violet-card__image_enlarged {
    width: 360px;
}
@media (max-width: 390px) {
    .violet-card__image_enlarged {
        width: 260px;
    }
}
.violet-card__title {
    font-size: 18px;
    font-weight: 300;
}
.violet-card__comment {
    font-size: 14px;
    font-weight: 300;
}
.violet-card__price {
    font-size: 16px;
    font-weight: 700;
}
.violets__others {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 40px;
    row-gap: 55px;
}
@media (max-width: 1190px) {
    .violets__others {
        grid-template-columns: repeat(3, auto);
    }
}
@media (max-width: 900px) {
    .violets__others {
        grid-template-columns: repeat(2, auto);
    }
}
@media (max-width: 590px) {
    .violets__others {
        grid-template-columns: repeat(1, auto);
    }
}
